In [27]:
DIRECT = "דירקט"
DIRECT_BATCHED = "דירקט- מצטבר"
CREDIT_CARD = "מקס איט פיננסי"
SALARY = "משכורת"
SALARY_NET = "משכורת-נט"
BIT = "bit העברת כסף"
UNEMPLOYMENT = "בטוח לאומי חד"
IB = "אינטראקטיב ברוקרס אל אל"

from enum import Enum


class Col(str, Enum):
    Date = "Date"
    Balance = "Balance"
    Minus = "Minus"
    Plus = "Plus"
    For = "For"
    Action = "Action"
    Origin = "Origin"
    Executor = "Executor"

In [28]:
import pandas as pd

df = pd.read_csv("balance.csv")


def find_sub_replace_all(df, term, to):
    return df.replace(rf"(^.*{term}.*$)", to)


df.loc[df["Executor"] == IB, "Action"] = "IB"

df = df.replace(
    {
        DIRECT: "direct",
        DIRECT_BATCHED: "direct - batched",
        CREDIT_CARD: "credit card",
        SALARY: "salary",
        SALARY_NET: "salary",
        BIT: "bit",
        RENT: "rent",
        UNEMPLOYMENT: "unemployment",
        IB: "IB",
    }
)
df = find_sub_replace_all(df, "שכר דירה", "rent")



df.to_csv("balance-transformed.csv")

NameError: name 'RENT' is not defined

In [57]:
df.to_csv("balance-transformed.csv")